 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,700|Titillium+Web:300);
 
 body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.title{
	color: gray;
}

/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
.sg-color--a .sg-color-swatch {background: #959595;}

.sg-color--b .sg-color-swatch {background: #ececec;}

.sg-color--c .sg-color-swatch {background: #cc0033;}

.sg-color--d .sg-color-swatch {background: #fff;}

.sg-color--e .sg-color-swatch {background: #000000;}

/* -------------------------------------------------------------------------
 Fonts
---------------------------------------------------------------------------- */
.sg-font-primary {font-family:'Titillium Web', sans-serif;}

.sg-font-secondary {font-family:'Source Sans Pro', sans-serif;}

/* -------------------------------------------------------------------------
 Icon fonts
---------------------------------------------------------------------------- */
@font-face {
	  font-family: 'kaingang';
	  src: url('../fonts/kaingang.eot?615903');
	  src: url('../fonts/kaingang.eot?615903#iefix') format('embedded-opentype'),
	       url('../fonts/kaingang.woff?615903') format('woff'),
	       url('../fonts/kaingang.ttf?615903') format('truetype'),
	       url('../fonts/kaingang.svg?615903#kaingang') format('svg');
	  font-weight: normal;
	  font-style: normal;
}

/* -------------------------------------------------------------------------
 Button
---------------------------------------------------------------------------- */

button{
	background: #ececec;
	border: 0;
	color:#cc0033;
	padding: 3px 20px 3px 10px;
	cursor:pointer;
	transition: all 0.2s linear 0s;
}

button:hover{
	background: #959595;
}

/* -------------------------------------------------------------------------
 Input
---------------------------------------------------------------------------- */

input{
	background:#ececec;
	border-radius: 5px;
	border: none;
	padding: 5px;
	color: #000000;
}

/* -------------------------------------------------------------------------
 Headings
---------------------------------------------------------------------------- */

h1{
	font-weight: 700;
	font-size: 2.000em;
}

h2{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 1.375em;
}

h3{
	font-weight: 300;
	font-size: 1.250em;
}

h4{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.000em;
}

/* -------------------------------------------------------------------------
 links
---------------------------------------------------------------------------- */

a{
	color: #cc0033;
	border: none;
	text-decoration:none;
}

a:hover{
	color: #959595;
}

/* -------------------------------------------------------------------------
 text-elements
---------------------------------------------------------------------------- */

p{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1.000em;
}

hr{
	border: none;
	background: #ececec;
}

blockquote {
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: italic;
}

blockquote p{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-style: italic;
}

figcaption{
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 0.875em;
}

/* -------------------------------------------------------------------------
 agenda
---------------------------------------------------------------------------- */

.agenda-location,
.agenda-date{
	font-size: 1.250em;	
}

/* -------------------------------------------------------------------------
 Comments
---------------------------------------------------------------------------- */

.comments-title span{
	font-weight: 400;
}

.comment-author{
	font-weight: 300;
}

/* -------------------------------------------------------------------------
 General
---------------------------------------------------------------------------- */

.wp-caption-text{
	font-weight: 300;
	font-size: 0.875em;
}

.archive-title{
	font-size: 2.000em;
}

.entry-meta{
	font-weight: 700;
}

.site-navigation,
.post-navigation{
	font-size: 1.250em;
	font-style: italic;
}

/* -------------------------------------------------------------------------
 redes-sociais
---------------------------------------------------------------------------- */

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "kaingang";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.social-bookmarks{
	font-weight: 300;
}
#social-bookmarks{
	
}

#facebook{
	float: left;
	border: thick  solid  #959595;
	border-radius:55px;
	background: #fff;
	padding: 10px;
}

#facebook:hover{
	background: #3b5999;
	color:#fff;
}

.icon-facebook:before{
	content: '\e800';
}

#twitter{
	float: left;
	border: thick  solid  #959595;
	border-radius:55px;
	background: #fff;
	padding: 10px;
}

#twitter:hover{
	background: #019ad2;
	color:#fff;
}

.icon-twitter:before {
	content: '\e805'; 
}

#google-plus{
	float: left;
	border: thick  solid  #959595;
	border-radius:55px;
	background: #fff;
	padding: 10px;
}

#google-plus:hover{
	background: #cf3e2d;
	color: #fff;
}

.icon-gplus:before { 
	content: '\e801'; 
}

#youtube{
	float: left;
	border: thick  solid  #959595;
	border-radius:55px;
	background: #fff;
	padding: 10px;
}

#youtube:hover{
	background: #d02525;
	color: #fff;
}

.icon-youtube:before{
	content: '\e804';
}

#rss{
	float: left;
	border: thick  solid  #959595;
	border-radius:55px;
	background: #fff;
	padding: 10px;
}

.icon-rss:before,
#rss:before {
	content: '\e803';
}

.icon-rss:hover,
#rss:hover {
	background: #ff6600;
	color: #fff;
}